<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.ascet.AutosarCodeGenLauncher">
    <stringAttribute key="com.etas.ascet.autosar.ascet2autosar.file" value="/ACCSystem/ACC_AUTOSAR/ACC_AR_SWC.ascet2autosar"/>
    <stringAttribute key="com.etas.ascet.autosar.version" value="RTE_AUTOSAR_422"/>
    <stringAttribute key="com.etas.ascet.build.advanced.options.file" value="\ACCSystem\cgen.properties"/>
    <stringAttribute key="com.etas.ascet.build.arithmetic.service.definitionPath" value=""/>
    <booleanAttribute key="com.etas.ascet.build.arithmetic.service.replaceStandard" value="false"/>
    <stringAttribute key="com.etas.ascet.build.asam.mdx.code.syntax.definitionPath" value=""/>
    <booleanAttribute key="com.etas.ascet.build.asap2" value="false"/>
    <stringAttribute key="com.etas.ascet.build.asap2.model.path" value="ROOT_FIRST"/>
    <booleanAttribute key="com.etas.ascet.build.asap2.skip.entry.class.nodes" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.asap2.use.element.unit.for.formula" value="true"/>
    <stringAttribute key="com.etas.ascet.build.asap2.version" value="1.70"/>
    <stringAttribute key="com.etas.ascet.build.autosar.xml.definitionPath" value="${project_loc}/arxml40Options.xml"/>
    <stringAttribute key="com.etas.ascet.build.buildSettingsPath" value=""/>
    <stringAttribute key="com.etas.ascet.build.codeGenerator.name" value="SERVERCETASASCET-DEVELOPER7.8"/>
    <stringAttribute key="com.etas.ascet.build.codeGenerator.version" value="6.4.7"/>
    <stringAttribute key="com.etas.ascet.build.compiler.defines" value=""/>
    <stringAttribute key="com.etas.ascet.build.compiler.inlineDirective" value=""/>
    <stringAttribute key="com.etas.ascet.build.compiler.memoryDirective" value=""/>
    <stringAttribute key="com.etas.ascet.build.compiler.options" value=""/>
    <stringAttribute key="com.etas.ascet.build.defaultRepresentationInteger" value="32"/>
    <stringAttribute key="com.etas.ascet.build.defaultRepresentationReal" value="float32"/>
    <stringAttribute key="com.etas.ascet.build.interpolation.defaultScheme" value="ESDL_Linear_Interpolation"/>
    <stringAttribute key="com.etas.ascet.build.interpolation.definitionPath" value="${project_loc}"/>
    <booleanAttribute key="com.etas.ascet.build.mdx" value="false"/>
    <stringAttribute key="com.etas.ascet.build.mdx.version" value="1.3.0"/>
    <stringAttribute key="com.etas.ascet.build.messages.cache" value="CACHE_ON_THREAD_STACK"/>
    <booleanAttribute key="com.etas.ascet.build.naming.ascet6LegacyMode" value="true"/>
    <stringAttribute key="com.etas.ascet.build.output.fileStructure" value="COMPONENT"/>
    <stringAttribute key="com.etas.ascet.build.output.folder" value="${project_loc}\..\CGen\ACC_AR_CGen"/>
    <booleanAttribute key="com.etas.ascet.build.output.project" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.output.project.cdt" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.physicalImplementation" value="false"/>
    <stringAttribute key="com.etas.ascet.build.resolveCCodeVariant" value=""/>
    <stringAttribute key="com.etas.ascet.build.systemConstants.resolveTime" value="compileTime"/>
    <stringAttribute key="com.etas.ascet.build.target.integerDivisionRounding" value="truncate"/>
    <stringAttribute key="com.etas.ascet.build.target.wordSize" value="32"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
</launchConfiguration>
