<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.ascet.build.ui.AscetPcExperimentLauncher">
    <stringAttribute key="com.etas.ascet.build.advanced.options.file" value=""/>
    <stringAttribute key="com.etas.ascet.build.application.file" value="/ACCSystem/tests/ACCTest.app"/>
    <stringAttribute key="com.etas.ascet.build.arithmetic.service.definitionPath" value=""/>
    <booleanAttribute key="com.etas.ascet.build.arithmetic.service.replaceStandard" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.asap2.skip.entry.class.nodes" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.asap2.use.element.unit.for.formula" value="true"/>
    <stringAttribute key="com.etas.ascet.build.buildSettingsPath" value="${project_loc}/build_settings.mk"/>
    <stringAttribute key="com.etas.ascet.build.codeGenerator.name" value="SERVERCETASASCET-DEVELOPER7.9"/>
    <stringAttribute key="com.etas.ascet.build.codeGenerator.version" value="6.4.7"/>
    <stringAttribute key="com.etas.ascet.build.compiler.defines" value="ESDL_CCODE_TARGET_VARIANT_PC ESDL_CCODE_GENERATOR_VARIANT_OBJECT ESDL_LOGGING_ENABLED"/>
    <stringAttribute key="com.etas.ascet.build.compiler.inlineDirective" value="static inline"/>
    <stringAttribute key="com.etas.ascet.build.compiler.memoryDirective" value=""/>
    <stringAttribute key="com.etas.ascet.build.compiler.options" value=""/>
    <stringAttribute key="com.etas.ascet.build.defaultRepresentationInteger" value="32"/>
    <stringAttribute key="com.etas.ascet.build.defaultRepresentationReal" value="float32"/>
    <booleanAttribute key="com.etas.ascet.build.experiment.start" value="true"/>
    <booleanAttribute key="com.etas.ascet.build.inline.esdl" value="false"/>
    <stringAttribute key="com.etas.ascet.build.interpolation.defaultScheme" value="ESDL_Linear_Interpolation"/>
    <stringAttribute key="com.etas.ascet.build.interpolation.definitionPath" value="${project_loc}"/>
    <booleanAttribute key="com.etas.ascet.build.mcdc.coverage.enablement" value="false"/>
    <stringAttribute key="com.etas.ascet.build.messages.cache" value="CACHE_DISABLED"/>
    <booleanAttribute key="com.etas.ascet.build.naming.ascet6LegacyMode" value="false"/>
    <stringAttribute key="com.etas.ascet.build.output.fileStructure" value="COMPONENT"/>
    <stringAttribute key="com.etas.ascet.build.output.folder" value=""/>
    <booleanAttribute key="com.etas.ascet.build.output.project" value="true"/>
    <booleanAttribute key="com.etas.ascet.build.output.project.cdt" value="true"/>
    <stringAttribute key="com.etas.ascet.build.output.project.name" value="${project_name}_PC_CGen"/>
    <booleanAttribute key="com.etas.ascet.build.physicalImplementation" value="false"/>
    <booleanAttribute key="com.etas.ascet.build.protocol.l1" value="true"/>
    <booleanAttribute key="com.etas.ascet.build.protocol.xcp" value="false"/>
    <stringAttribute key="com.etas.ascet.build.resolveCCodeVariant" value=""/>
    <stringAttribute key="com.etas.ascet.build.systemConstants.resolveTime" value="generationTime"/>
    <stringAttribute key="com.etas.ascet.build.target.integerDivisionRounding" value="truncate"/>
    <stringAttribute key="com.etas.ascet.build.target.wordSize" value="32"/>
    <booleanAttribute key="com.etas.ascet.build.useDefaultBuildSettingsPath" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ACCSystem/SILTests/ACCTest.app"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
</launchConfiguration>
